<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="myEndPoint"
                address="" 
                binding="wsHttpBinding" 
                contract="pc2x.Application.WebServices.WCF.IPaisContract">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>